<h1>Articles</h1>
  <% @articles.each do |article| %>
    <ul>
      <li class="main-li"><%= article.title %></li>
      <!-- <li class="main-li"><%= article.text %></li> -->
      <li class="main-li"><%= link_to 'Show', article_path(article) %></li>
      <li class="main-li"><%= link_to 'Edit', edit_article_path(article) %></li>
      <li class="main-li"><%= link_to 'Delete', article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></li>
    </ul>
  
  <% end %>
  <!-- <div class="box square"></div> -->
